<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">powTinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" style="font-size: 20px">
        <a class="nav-item nav-link" href="/urls" >My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    
    <% if (!user) { %>
      <div style="margin-right: 10px;">
        <form action="/register"method="GET" class="form-inline margin">
          <button class="btn btn-primary">Register</button>
        </form>
      </div>
      <div>
        <form action="/login" method="GET" class="form-inline margin">
          <button class="btn btn-primary">Login</button>
        </form>
      </div>
    <% } else { %>
      <p class="navbar-brand" style="margin: 10px">Logged In As: <%= user.email %>!</p>
      <form action="/logout" method="POST" class="form-inline">
        <button class="btn btn-primary">Logout</button>
      </form>
    <% } %>
  </nav>
</header>