<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./partials/_head") %>
  <title>Login - powTinyApp</title>
</head>
<body>
  <%- include("./partials/_header") %>
  <main style="margin: 1em;">
    <h3>My URLs</h3>
  </main>
  <!-- Bootstrap JS -->
  <%- include("./partials/_script") %>
</body>
</html>